USE [Bookstore]
GO
/****** Object:  View [dbo].[vw_book_sale_summary]    Script Date: 2021-12-18 6:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_book_sale_summary]
AS
SELECT c.order_id, b.book_id, a.title, a.author, d.publisher_name, a.category,a.price as unit_price, 
	b.number_of_thebook as sale_quantity, a.price*b.number_of_thebook as sales_subtotal, 
	a.percentage_to_publisher, 
	convert(decimal(10,2), a.percentage_to_publisher*a.price/100) as unit_pay_publisher, 
	convert(decimal(10,2), a.price*b.number_of_thebook*a.percentage_to_publisher/100) as expenditure_sub_total,
	--e.restock_quantity,	
	c.order_date
FROM   dbo.book a INNER JOIN
       dbo.book_order b ON a.book_id = b.book_id INNER JOIN
       dbo.[order] c ON b.order_id = c.order_id INNER JOIN
	   dbo.[publisher] d ON a.publisher_id = d.publisher_id 
	   --INNER JOIN dbo.[re_stock] e ON a.book_id = e.book_id

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "book"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 353
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "book_order"
            Begin Extent = 
               Top = 9
               Left = 410
               Bottom = 206
               Right = 674
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "order"
            Begin Extent = 
               Top = 9
               Left = 731
               Bottom = 206
               Right = 953
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_book_sale_summary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_book_sale_summary'
GO
